<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="utf-8">
	<title>Security</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css}">
</head>
<body>
	<div class="container-fluid">
		<h1 th:text="'index'"></h1>
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-danger"
					th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']}"
					th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
				</div>
				<div th:if="${param.logout}" class="alert alert-success">You have logged out</div>
				<form th:action="@{/login}" method="POST" sec:authorize="!isAuthenticated()">
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" autofocus autocomplete="off">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" autocomplete="off">
					<input type="submit" value="Login">
					<label for="remember-me">Remember me:</label>
					<input type="checkbox" id="remember-me" name="remember-me">
				</form>
				<a class="btn btn-secondary btn-sm" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<div class="row" sec:authorize="isAuthenticated()">
			<div class="col-md-12">
				<p th:text="'Welcome ' + ${#authentication?.principal?.username}">User</p>
				<p sec:authorize="hasRole('ADMIN')">ADMIN MODE</p>
				<p sec:authorize="hasAuthority('user.create')">- CREATE USER PERMISSION</p>
				<p sec:authorize="hasAuthority('user.read')">- READ USER PERMISSION</p>
				<p sec:authorize="hasAuthority('user.update')">- UPDATE USER PERMISSION</p>
				<p sec:authorize="hasAuthority('user.delete')">- DELETE USER PERMISSION</p>
			</div>
		</div>
	</div>
	<script th:fragment="bootstrap-script" th:src="@{/webjars/bootstrap/5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>